@import "tailwindcss";

body {
  @apply bg-gray-50 text-gray-900;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
